root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.fs]
max_line_length = 90
fsharp_single_argument_web_mode = true

[*.{c,f}sproj]
indent_size = 2

[*.{fsx,sh,yml,xaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
