source https://api.nuget.org/v3/index.json

framework: auto-detect
storage: none

nuget FSharp.Core content: none
nuget Avalonia
nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget FsToolkit.ErrorHandling
nuget Avalonia.FuncUI
nuget Avalonia.FuncUI.Elmish
nuget Avalonia.Themes.Fluent
nuget MessageBox.Avalonia
nuget Mono.Posix.NETStandard
nuget NicoVIII.GogApi
nuget NicoVIII.SimpleOptics
nuget SharpZipLib
nuget TypedPersistence.Json prerelease

nuget Expecto.FsCheck
