version 6.0.0

source https://api.nuget.org/v3/index.json

framework: net5.0, netstandard2.0, netstandard2.1
storage: none

nuget FSharp.Core ~> 4.7

nuget FSharp.Json ~> 0.4.0
nuget SchlenkR.FsHttp ~> 3.0.0
nuget GogApi.DotNet ~> 2.0
nuget JaggerJo.Avalonia.FuncUI ~> 0.4
nuget JaggerJo.Avalonia.FuncUI.DSL ~> 0.4
nuget JaggerJo.Avalonia.FuncUI.Elmish ~> 0.4
nuget MessageBox.Avalonia ~> 0.9.0
nuget Mono.Posix.NETStandard ~> 1.0
nuget Myriad.Core ~> 0.4.0
nuget Myriad.Plugins ~> 0.4.0
nuget Myriad.Sdk ~> 0.4.0
nuget SharpZipLib ~> 1.2
nuget TypedPersistence ~> 0.6.0-alpha.3
